@import url(http://weloveiconfonts.com/api/?family=entypo);
 @import url(https://fonts.googleapis.com/css?family=Muli);
 body {
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
	 margin: 0;
	 padding: 0;
	 background-color: #f0f0f0;
	 font-family: Muli, sans-serif;
	 color: #444;
}
 ul {
	 list-style: none;
	 margin-top: 0;
	 padding: 0;
}
 a {
	 cursor: pointer;
	 display: block;
	 color: #ffffff;
	 text-decoration: none;
}
 .bckg {
	 background-color: #06357a;
	 width: 200px;
	 height: 100%;
	 position: fixed;
	 left: 0;
	 top: 0;
}
 h1 {
	 text-align: center;
	 font-weight: normal;
	 color: #06357a;
	 line-height: 60px;
	 margin: 0;
	 font-size: 20px;
	 letter-spacing: 2px;
	 background-color: #fdb913;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.57);
}
 h2 {
	 font-size: 20px;
	 text-transform: uppercase;
	 margin: 0;
	 letter-spacing: 3px;
	 color: #fff;
	 font-weight: normal;
	 padding-left: 40px;
	 line-height: 60px;
	 text-shadow: 1px 1px 2px #fff;
	 position: relative;
	 flex: 1;
	 -webkit-flex: 1;
	 -ms-flex: 1;
}
 h2:before {
	 content: '';
	 width: 36px;
	 height: 36px;
	 position: absolute;
	 left: -19px;
	 top: 12px;
	 background-color: #fdb913;
	 -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	 transform: rotate(45deg);
}
 h3 {
	 font-size: 17px;
	 margin: 0;
	 line-height: 40px;
	 color: #555;
	 cursor: pointer;
	 position: relative;
}
 header {
	 width: 200px;
	 height: 100%;
	 float: left;
	 position: relative;
	 z-index: 99;
}
 header nav ul li {
	 border-bottom: 1px solid #ffffff;
	 padding-left: 48px;
	 transition: all 0.6s;
	 border-top: 1px solid #ffffff;
}
 header nav ul li:hover {
	 background-color: #454952;
	 transition: all 0.6s;
	 border-bottom: 1px solid #797979;
}
 header nav ul li:hover a {
	 color: #fff;
	 transition: all 0.6s;
}
 header nav ul li a {
	 line-height: 55px;
	 font-size: 18px;
	 position: relative;
	 letter-spacing: 1px;
	 transition: all 0.6s;
}
 header nav ul li a:before {
	 font-family: 'entypo', sans-serif;
	 font-size: 20px;
	 position: absolute;
	 left: -32px;
}
 header nav ul li:first-child a:before {
	 content: "\268f";
}
 header nav ul li:nth-child(2) a:before {
	 content: "\1f465";
}
 header nav ul li:nth-child(3) a:before {
	 content: "\1f4c5";
}
 header nav ul li:nth-child(4) a:before {
	 content: "\e771";
}
 header nav ul li:nth-child(5) a:before {
	 content: "\2699";
}
 header nav ul li:nth-child(6) a:before {
	 content: "\1f50d";
}
 main {
	 flex: 1;
	 -webkit-flex: 1;
	 -ms-flex: 1;
}
 .title {
	 background-color: #06357a;
	 border-bottom: 1px solid #c0c1c0;
	 height: 60px;
	 display: -webkit-box;
	 display: -moz-box;
	 display: -ms-flexbox;
	 display: -webkit-flex;
	 display: flex;
}
 .title a {
	 color: #fff;
	 width: auto;
	 margin: 0 20px;
	 float: right;
	 line-height: 62px;
	 position: relative;
	 text-decoration: none;
	 transition: all 0.5s;
}
 .title a:before {
	 content: "\1f464";
	 font-size: 38px;
	 position: absolute;
	 left: -50px;
	 font-family: 'entypo';
}
 a:hover {
	 color: #33526b;
	 transition: all 0.5s;
}
 .larg {
	 max-width: 960px;
	 margin: 30px auto;
	 padding: 0 30px;
}
 .larg div {
	 background-color: #f7f7f7;
	 border: 1px solid #e2e2e2;
	 padding: 0 20px;
	 margin: 15px 0;
}
 .larg div:hover {
	 background-color: #fafafa;
}
 .larg div h3 span {
	 font-family: 'entypo';
	 font-size: 19px;
	 position: absolute;
	 right: 0;
	 transition: all 0.6s;
}
 .larg div h3 span.close {
	 -webkit-transform: rotate(180deg);
	 transition: all 0.5s;
}
 .larg div p {
	 display: none;
	 margin-left: 10px;
	 padding: 0 15px;
	 border-left: 1px solid #ccc;
}
 
img{
    width: 200px;
    height:100px;
}

h5{
    font-size: 10px;
	 margin: 0;
	 line-height: 15tpx;
	 color: #555;
	 cursor: pointer;
	 position: relative;
}

.line {
    border-bottom: 1px solid rgba(0,0,0);
    margin: 8px;
  }

  .button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display:inline-flex ;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .myButton {
	  -moz-box-shadow: 0px 1px 0px 0px #fff6af;
	  -webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	  box-shadow: 0px 1px 0px 0px #fff6af;
	  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	  background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	  background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	  background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	  background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	  background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	  background-color:#ffec64;
	  -moz-border-radius:6px;
	  -webkit-border-radius:6px;
	  border-radius:6px;
	  border:1px solid #ffaa22;
	  display:inline-block;
	  cursor:pointer;
	  color:#333333;
	  font-family:Arial;
	  font-size:15px;
	  font-weight:bold;
	  padding:6px 24px;
	  text-decoration:none;
	  text-shadow:0px 1px 0px #ffee66;
	  margin-bottom: 5px;
	  margin-top: 10px;
  }
  .myButton:hover {
	  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	  background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	  background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	  background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	  background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	  background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	  background-color:#ffab23;
  }
  .myButton:active {
	  position:relative;
	  top:1px;
  }